/* PALETA: */
:root {
    --color1: #fff;
    --color2: #000;
    --color3: #dc4405;
    --color4: #1e1e1e;
    --color5: #484848;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* TELA LOGIN */
body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: url(../img/fundo_tela.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}


main #login {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section#login img {
    width: 250px;
    height: 250px;
    margin-bottom: 1rem;
}


section#login #formulario input {
    height: 60px;
    width: 300px;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
}

section#login input::placeholder {
    text-align: left;
    padding-left: 1rem;
    opacity: 0.7;
}

.btn {
    width: 200px;
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: var(--color3);
    border: 1px solid var(--color3);
    color: var(--color1);
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px var(--color2);
}

.btn:hover {
    background-color: #a13202;
    color: var(--color1);
    transform: scale(1);
    box-shadow: 5px 5px 10px var(--color2);
}

p {
    font-size: 1rem;
    color: var(--color1);
    text-align: center;
    margin-bottom: 0rem;
}

a {
    color: var(--color3);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}




/* PERFIL PAGE */
.info-perfil {
    width: 100%;
    position: relative;
    padding-top: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.perfil-foto img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 3px solid var(--color3);
    box-shadow: 1px 1px 10px var(--color2);
}

.info-perfil .perfil-nome {
    width: 10rem;
    height: 2.5rem;
    display: flex;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border-radius: 2rem;
    box-shadow: 1px 1px 10px var(--color2);
}

.table-container {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    margin: auto;

}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--color1);
    opacity: 0.9;
    border-radius: 10px;
    overflow: hidden;
}

.custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.1rem 0.3rem;
    font-size: 1rem;
    border: none;
}

.custom-table tr:nth-child(odd) {
    background-color: #ffffff25;
}

.custom-table tr:nth-child(even) {
    background-color: transparent;
}

.btn-voltar {
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--color3);
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}



/* FOOTER */
.footer {
    width: 80%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.footer span {
    color: var(--color1);
    font-size: 2rem;
    justify-content: space-between;
}

.footer p {
    font-size: 1rem;
    justify-content: space-between;
    text-align: center;
}

.footer span:hover {
    transform: scale(1.2);
}



/* PRÊMIOS PAGE */
h2 {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--color1);
    text-align: center;
    justify-content: center;
    margin: 3rem auto 0 auto;

}

.titulo-elipse {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color1);
    z-index: 1;
    margin: 4rem auto 0 auto;
    text-align: center;
}

.titulo-elipse::before {
    position: absolute;
    content: " ";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color3);
    width: 80%;
    height: 140%;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
    box-shadow: 10px 10px 20px var(--color2);
}

.card {
    box-shadow: 10px 10px 20px var(--color2);
}

.card-text {
    color: var(--color4);
    font-size: 1.2rem;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card .btn {
    width: 100%;
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: var(--color3);
    border: 1px solid var(--color3);
    text-align: center;
    justify-content: center;
    color: var(--color1);
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px var(--color2);
}

.card .btn:hover {
    transform: scale(1.1);
}



/* RANKING PAGE */
.ranking-container {
    width: 90%;
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
}

.foto-perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: auto 0.5rem;
}

.titulo-ranking {
    width: 80%;
    background: linear-gradient(90deg, var(--color3), transparent);
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    border: 0.3rem solid var(--color3);
    border-radius: 1rem;
    justify-content: center;
    color: var(--color1);
    margin-bottom: 1.5rem;
    box-shadow: 10px 10px 20px var(--color2);
}

.ranking-list .list-group-item {
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color1);
    box-shadow: 3px 3px 20px var(--color2);
}

.ranking-list .list-group-item:first-child {
    background: linear-gradient(90deg, transparent, var(--color3));
    font-weight: bold;
}

.ranking-list .list-group-item:nth-child(2) {
    background: linear-gradient(90deg, transparent, var(--color3));
    font-weight: bold;
}

.ranking-list .list-group-item:nth-child(3) {
    background: linear-gradient(90deg, transparent, var(--color3));
    font-weight: bold;
}

.ranking-list .list-group-item {
    background: linear-gradient(90deg, transparent, var(--color5));
}

.ranking-list .list-group-item:first-child i {
    color: gold;
}

.ranking-list .list-group-item:nth-child(2) i {
    color: silver;
}

.ranking-list .list-group-item:nth-child(3) i {
    color: #b87333;
}

.ranking-list .list-group-item:first-child .badge {
    background-color: gold;
    color: var(--color2);
}

.ranking-list .list-group-item:nth-child(2) .badge {
    background-color: silver;
    color: var(--color2);
}

.ranking-list .list-group-item:nth-child(3) .badge {
    background-color: #b87333;

}

.fa-medal {
    color: var(--color3);
}



/* MISSÃO PAGE */
main {
    overflow-x: hidden;
}

.missao-head {
    display: flex;                
    align-items: center;          
    justify-content: center;      
    margin: 4rem auto 2rem auto;
    width: 75%;
}

.missao-head img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 18px;
    transform: rotate(-15deg);
}

.missao-head .titulo {
    margin: 0 auto ;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color1);
    background-color: var(--color3);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 10px var(--color2);
}

.card-missao {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--color5);
    opacity: 0.8;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px var(--color2);
}

.card-missao i {
    color: var(--color3);
}

.card-missao h5 {
    color: var(--color1);
    font-weight: bold;
}

.card-missao p {
    color: var(--color1);
    text-align: left;
    padding: 0.5rem;
}

.card-missao .badge {
    background-color: var(--color3);
}

.card-missao .btn {
    width: 150px;
    justify-content: center;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}



/* QUERIES */
@media screen and (min-width: 768px) {
    body {
        background-size: 100vh;
    }

    .info-perfil {
        display: flex;
        flex-direction: column;
    }

    .titulo-elipse::before {
        max-width: 400px;
        opacity: 1;
    }

    .missao-head img {
        left: 350px;
    }
}